<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewAgeWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewAgeWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NewAgeWPF.Properties.Settings>
            <setting name="WoWLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TransparencyToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WoWCacheToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageChangeTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontAdditionTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckforUpdateTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdatePGShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateApplyTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatePostPoned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FutureVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Scheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
        </NewAgeWPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NewAgeWPF.Properties.Settings>
            <setting name="Realmlist" serializeAs="String">
                <value>set realmlist wownewage.com</value>
            </setting>
            <setting name="PatchDownloadURL" serializeAs="String">
                <value>http://wownewage.com/patches.txt</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>wownewage.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3724</value>
            </setting>
            <setting name="WebsiteURL" serializeAs="String">
                <value>http://wownewage.com</value>
            </setting>
            <setting name="ForumsURL" serializeAs="String">
                <value>http://community.wownewage.com</value>
            </setting>
            <setting name="VoteURL" serializeAs="String">
                <value>http://wownewage.com/gate/modules/vote</value>
            </setting>
            <setting name="DonateURL" serializeAs="String">
                <value>https://paypal.me/wownewage</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>English (Default)</value>
            </setting>
            <setting name="WebsiteURL_ES" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/ES/Lansador_NuevaEra.exe</value>
            </setting>
            <setting name="WebsiteURL_EN" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/EN/NewAge Launcher.exe</value>
            </setting>
            <setting name="WebsiteURL_FR" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/FR/NewAge Launcher.exe</value>
            </setting>
        </NewAgeWPF.Properties.Settings>
    </applicationSettings>
</configuration>